html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: relative;
}

.container {
  width: 298px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    width: 640px;
  }

  @media screen and (min-width: 1200px) {
    width: 1000px;
  }
}

.list {
  list-style: none;
  padding: 0;
}

.link {
  text-decoration: none;
  color: $text-font-color;
}

.title {
  margin: 0;
}

.text {
  margin: 0;
}

img {
  display: block;
  margin: 0;
}

.back-to-top {
  display: block;
  position: fixed;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
  z-index: 999;
  right: 11px;
  bottom: 20px;
  background: $main-background-color url(../images/icons/icon-arrow-up.png)
    no-repeat center 43%;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.55);
  @media screen and (min-width: 768px) {
    right: 64px;
  }
}
