.detailsPage {
  display: none;
}

.detailsPage__container {
  padding: 0;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 100%;
  }
}

.film-info__container {
  max-width: 27.5rem;
  margin-bottom: 3rem;
}

.film-title {
  margin-bottom: 1rem;
}

figure {
  margin: 0 0 2rem;
  max-width: 100%;
  order: 1;
}

.poster {
  width: 27.5rem;
  height: auto;
}

table {
  font-family: $main-font-stack;
  font-size: 1.4rem;
  border-collapse: collapse;
  margin-bottom: 2rem;
}

td {
  padding: 1rem;
}

tr:nth-child(odd) {
  background: $main-background-color;
}

td:nth-child(odd) {
  padding-right: 0;
}

td:nth-child(even) {
  padding-left: 3rem;
  padding-right: 0;
}
