footer {
  display: block;
  margin: 0 auto;
  max-width: 320px;
  background-color: $main-background-color;
}

.text-title {
  text-align: center;
  font-family: $main-font-stack;
  font-weight: 500;
  font-size: 14px;
  margin: 0;
}
