@import './libs/fonts.scss';

.searchform {
  padding: 22px 0px 22px 0px;
  box-shadow: 0px 5px 10px rgba($color: #000000, $alpha: 0.6);
  text-align: center;

  &__field {
    width: 256px;
    margin: 0 auto;
    position: relative;
    @media screen and (min-width: 768px) {
      margin: 0 auto;
      width: 640px;
    }

    &::after {
      content: '';
      display: block;
      width: auto;
      height: 2px;
      background-color: #9894a1;
      width: inherit;
      margin: inherit;
    }

    &::before {
      position: absolute;
      content: '';
      display: block;
      left: 0;
      top: 0;
      height: 18px;
      width: 18px;
      background-image: url(../images/icons/icon-search.png);
      background-repeat: no-repeat;
      z-index: 4;
    }

    &__input {
      font-family: RobotoRegular;
      font-size: 16px;
      color: #000000;
      line-height: 1.5;
      outline: none;
      width: inherit;
      padding-left: 28px;
      border: none;

      &::placeholder {
        font-family: RobotoRegular;
        font-size: 14.4px;
        color: #000000;
      }
    }
  }
}

@media screen and (min-width: 320px) {
  .films-list {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px 0;
    list-style: none;

    &__item {
      width: 280px;
      position: relative;
      margin: 0 auto 20px;
      box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25),
        0px 2px 2px rgba(0, 0, 0, 0.08), 0px 1px 1px rgba(0, 0, 0, 0.16);
      cursor: pointer;
      transition: transform 0.2s linear;
    }

    &__item:hover {
      transform: scale(1.05);
    }

    &__item:last-child {
      margin-bottom: 0;
    }

    &__image {
      display: block;
      width: 100%;
      height: 400px;
      object-fit: cover;
    }

    &__title {
      position: absolute;
      left: 0;
      bottom: 0;
      padding-left: 10px;
      font-family: RobotoMedium;
      font-weight: 700;
      font-size: 20px;
      color: #ffffff;
    }

    &__rate {
      position: absolute;
      right: 0;
      top: 0;
      margin: 10px 10px 0 0;
      width: 40px;
      height: 20px;
      color: $font-semi-color;
      font-size: 16px;
      font-weight: 600;
      text-align: center;
      border-radius: 8px;
      background-color: #ffffff;
    }
  }
}

@media screen and (min-width: 768px) {
  .films-list {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-around;

    &__item {
      flex-basis: 280px;
      margin: 0 0 20px 0;
    }

    &__item:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }
}

@media screen and (min-width: 1200px) {
  .films-list__item:nth-last-child(-n + 2) {
    margin-bottom: 20px;
  }
}

.hidden {
  display: none;
}

.pagination {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 23px;
  @media screen and (min-width: 768px) {
    justify-content: center;
  }

  &__btn--prev,
  &__btn--next {
    width: 95px;
    height: 48px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    background-image: linear-gradient(
      to bottom,
      rgba(250, 250, 250, 1) 0%,
      rgba(240, 240, 240, 1) 100%
    );
    box-shadow: 0 1px #ffffff33 inset, 0 3px 5px #00010680,
      0 0 1px 1px #00010633;
    text-shadow: 0 -1px 2px #00000033;
    transition: 0.2s ease-in-out;

    & span {
      font-family: 'Roboto';
      font-weight: 700;
      font-size: 20px;
      color: #556270;
    }
  }

  &__page {
    width: 48px;
    height: 48px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    position: relative;
    background-image: linear-gradient(
      to bottom,
      rgba(250, 250, 250, 1) 0%,
      rgba(240, 240, 240, 1) 100%
    );
    @media screen and (min-width: 768px) {
      margin: 0px 20px;
    }
    @media screen and (min-width: 768px) {
      margin: 0px 50px;
    }

    & span {
      font-family: 'Roboto';
      font-weight: 700;
      font-size: 20px;
      color: #556270;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
