@media screen and (min-width: 320px) {
  .library-films-list {
    width: 320px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 0;
    list-style: none;
    position: relative;
  }

  .films-list__title {
    position: absolute;
    left: 0;
    bottom: 0;
    padding-left: 10px;
    font-family: RobotoMedium;
    font-weight: 700;
    font-size: 20px;
    color: #ffffff;
  }

  .library__empty-list {
    font-family: RobotoMedium;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    display: block;
  }

  footer {
    position: fixed;
    bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .library-films-list {
    width: 768px;
    display: flex;
    flex-flow: wrap row;
    justify-content: space-around;

    .films-list__item {
      flex-basis: 280px;
      margin: 0 0 20px 0;
    }

    &__item:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }
}

@media screen and (min-width: 1200px) {
  .library-films-list {
    width: 1200px;
  }
}
