.modal {
  width: 80%;
  display: none;
  position: fixed;
  top: 10%;
  left: 5%;
  right: 10%;
  bottom: 0;

  z-index: 100;
  background-color: #fff;
}

.visible {
  display: block;
}
